#booklet {
  width: 100%;
  height: 100%;
  background-color: red;
  /* background: url('/backgrounds/bg_1.jpg'); */
  /* text-align: center; */
  display: flex;
  justify-content : center;
  align-items: center;
}

.bookletPages {
  background-color: rgb(221, 209, 161);
  height: 100%;
  background-size: cover;
  border: 1px solid rgba(90, 90, 90);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
  background: url('/page/goldborder.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  overflow: hidden;
}