.magazine-ending-outer {
  background: black;
  width: 100%;
  height: 100%;
}

.magazine-ending {
  /* Modern browsers - AVIF */
  background-image: url('/profile/magazineEnd.avif');
  /* Fallback to WebP */
  @supports not (background-image: url('/profile/magazineEnd.avif')) {
    background-image: url('/profile/magazineEnd.webp');
  }
  /* Fallback to JPG */
  @supports not ((background-image: url('/profile/magazineEnd.avif')) or (background-image: url('/profile/magazineEnd.webp'))) {
    background-image: url('/profile/magazineEnd.optimized.jpg');
  }
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: grayscale();
  opacity: 50%;
  font-family: 'Javacom', 'Lucida Handwriting', cursive;
  will-change: transform;
  transform: translateZ(0);
}

.magazine-ending .center-piece {
  text-align: center;
  opacity: 100%;
  color: whitesmoke;
  padding-top: 55%;
}

.magazine-ending-footer {
  text-align: right;
  position: relative;
  top: 33%;
  right: 10%;
  color: whitesmoke;
  font-family: 'Scientist', 'Lucida Handwriting', cursive;
  font-size: larger;
}