.magazine-ending-outer {
  background: black;
  width: 100%;
  height: 100%;
}

.magazine-ending {
  background: url('/profile/magazineEnd.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  filter:grayscale();
  opacity: 50%;
  font-family: 'Javacom', 'Lucida Handwriting', cursive;
}

.magazine-ending .center-piece {
  text-align: center;
  opacity: 100%;
  color: whitesmoke;
  padding-top: 55%;
}

.magazine-ending-footer {
  text-align: right;
  position: relative;
  top: 33%;
  right: 10%;
  color: whitesmoke;
  font-family: 'Scientist', 'Lucida Handwriting', cursive;
  font-size: larger;
}