.hamburger {
  cursor: url('../assets/cursors/pointer1.png'), url('../assets/cursors/pointer1.cur'), pointer !important;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

@media screen and (max-width: 768px) {
  .bm-burger-button {
    display: block;
  }
}

.bm-burger-bars {
  /* background: #373a47; */
  background: black;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  overflow: hidden !important;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  width: 100% !important;
  left: -125px !important;
  margin-top: 10px;
}

.bm-item-list > * {
  margin-bottom: 7px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item, .content-item {
  font-size: small;
}

.collapsible {
  border: 0.5px outset #bdbdbd; 
  padding: 10px 10px 17px 10px;
  transition: border-radius 0.5s ease;
}

.collapsible.expanded {
  border-radius: 5%;
}

.collapsible.expanded .header{
  padding-bottom: 10px;
  transition: padding-bottom 0.5s ease;
}

.collapsible.collapsed {
  border-radius: 2.5%;
}

.collapsible.collapsed .header{
  padding-bottom: 0px;
  transition: padding-bottom 0.5s ease;
}

.list-group .active {
  background-color: #1d1e23 !important;
  border-color: inherit !important;
}

.list-group:not(.active){
  background-color: #373a47 !important;
}

.content-sub-item {
  font-size: 60%;
  background-color: rgba(136, 136, 136, 0.382) !important;
  /* border-color: rgba(179, 179, 179, 0.574) !important; */
  padding: 5px !important
}

.my-socials {
  align-items: center;
  position: absolute;
  top: 95%;
  padding-left: 19%;
  padding-bottom: 2.2%;
  width: 90%;
  background-color: #373a47;
}