.experience {
  background: white;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.experience .experience-1-image {
  width: 100%;
  height: 50%;
}

.experience body {
  font-family: Arial, sans-serif;
}

.experience .container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.experience .left-panel {
  flex: 1;
  padding: 5%;
  border-right: 1px solid #ddd;
  text-align: left;
  font-size: x-small;
  /* font-weight: 400; */
}

.experience .categories {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
}

.experience .category {
  width: 50%;
  box-sizing: border-box;
}

.experience .category h3 {
  color: #e60055;
  font-size: x-small;
  margin-top: 5%;
}

.experience .category p {
  color: #666;
  font-size: 50%;
  margin: 2% 0;
}