.App {
  overflow: hidden;
  background-color: black;
  height: 100%;
  width: 100%;
  cursor: url('./assets/cursors/cursor3.png'), url('./assets/cursors/cursor3.cur'), auto;
}

@font-face {
  font-family: 'Scribble';
  src: url('/fonts/Scribble.ttf') format('truetype');
}

@font-face {
  font-family: 'Lovtony';
  src: url('/fonts/Lovtony.ttf') format('truetype');
}

@font-face {
  font-family: 'Javacom';
  src: url('/fonts/Javacom.otf') format('opentype');
}